* {
	font-family: "Courier New", monospace;
	font-size: 20px;

	margin: 0;
	padding: 0;
}

body {
	background-color: skyblue;
}


html {
scroll-behavior: smooth;
}

nav {
	background-color: white;
}

h1 {
	color: black !important;
	text-align: center;
	font-size: 2rem;
}

section {
	text-align: center;
}

h2 {
	font-size: ;
}

#zuitt-motto {
	letter-spacing: 5px;
}

/* class selector */
.offering-item {
	text-transform: uppercase;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

#zuitt-motto + img {
	height: 300px;
	width: 300 px;
	border-radius: 150px;
}

#bootcamp-learning-list li {
	color: #075966;
}

h2 ~ a {
	text-decoration: none;
}

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37%;
}

button {
	color: white;
	border-radius: 15px;
	background-color: #cf0053;
	border: 0;
	width: 250px;
	height: 30px;
}