/* Change the font-family and font-size of all elements using a universal selector */
* {
	margin: 0;
	padding: 0;
	font: "Verdana", sans-serif;
	font-size: 20px;
	text-align: center;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: lightgray;
}

#upper-section {
	height: 300px;
	text-align: center;
}

/* Change the font size of h1 tags using a type/element selector */
h1 {
	font-size: 3rem;
}

/* Change the text to all uppercase letters for h2 tags using an id selector */
#zuitt-motto {
	text-transform: uppercase;
}

/* Change the background colors of the Languages to be Learned list items using a class selector */
.language-to-learn {
	background-color: rgb(144, 238, 144);
}

form {
	width: 25vw;
	height: 350px;
	text-align: center;
	position: relative;
	left: 37.25%;
	background-color: lightgray;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	width: 90%;
}

form > select {
	width: 90%;
}

/* Change the border width, style and color of the Tools to be Used list items using class selector */
#tools {
	border-color: rgb(0, 0, 255);
	border-width: 2px;
	border-style: solid;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

/* Change the list style type of the list adjacent to the image by using an adjacent sibling selector */
ul {
	list-style-type: none;
}

/* Change the dimensions of the img tag inside the section using a descendant selector */
#upper-section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

/* Change the alignment of the last paragraph element using a general sibling selector relative to the ul */
body p {
	text-align: center;
}

/* Change the letter spacing of the other things to be learned list items using a child selector */
section > form > select {
	letter-spacing: 10px;
}